* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  background-color: #2bc272;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gameboard {
  display: grid;
  width: 100%;
  max-width: 1050px;
  height: auto;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: min-content;
  gap: 15px;
  padding: 35px 25px;
}

.talon {
  display: flex;
  grid-column: 1 / 2;
  height: 0;
  padding-top: 142%;
  justify-content: center;
  align-items: center;
  background: #1b6ca8;
  border-radius: 12px;
  box-shadow: inset 0 0 0 8px white;
}

.talon-empty {
  display: flex;
  height: 0;
  padding-top: 139%;
  justify-content: center;
  align-items: center;
  background: #2bc272;
  border: 2px dashed #229b5b;
  border-radius: 10px;
}

.loop {
  font-size: 100px;
  color: #229b5a;
  transform: scaleX(-1);
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-top: 142%;
  /* height: 190px; */
  /* justify-content: space-between;
  align-items: center;
  padding: 7px 3px;
  font-size: 21px;
  color: black;
  background: rgb(233, 233, 233);
  background: whitesmoke;
  border-radius: 9px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  z-index: 1; */
}

.card-face {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 7px 3px;
  font-size: 2vw;
  color: black;
  background: rgb(233, 233, 233);
  background: whitesmoke;
  border-radius: 9px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  z-index: 1;}

.rank-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.rank-suit {
  display: flex;
  width: 25px;
  flex-direction: column;
  align-items: center;
}

.lil {
  width: 45%;
  height: auto;
}

.middle {
  width: 40%;
}

.rank-bottom {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.red {
  color: #CD0000;
}

.waste {
  grid-column: 2 / 3;
  /* height: 0; */
  /* padding-top: 139%; */
  /* margin: -2px 0px -1px 0; */
  border-radius: 10px;
}

.foundation {
  position: relative;
  height: 0;
  /* padding-top: 142%; */
  /* margin: -1px; */
  border-radius: 10px;
  box-shadow: 0px 3px 3px -3px #9c9c9c;
  z-index: 1;
}

.foundation:nth-child(3) {
  grid-column: 4 / 5;
}

.foundation .top, .foundation .bottom {
  margin-top: -142.5%;
}

.foundation .bottom:nth-child(1) {
  margin: 0;
}

.stack {
  position: relative;
  width: 100%;
  /* height: 190px; */
  padding-top: 142%;
  margin-top: -135%;
  background: #1b6ca8;
  border: 9px solid white;
  border-radius: 12px;
  box-shadow: 0px -3px 3px -3px #9c9c9c;
  z-index: 1;
}

.stack:nth-child(1) {
  position: relative;
  margin: 0;
}

.tableau {
  position: relative;
  /* height: 190px; */
  border-radius: 10px;
  box-shadow: 0px -3px 3px -3px #9c9c9c;
  z-index: 1;
}

.empty {
  border: 2px dashed #229b5b;
  height: 0;
  padding-top: 139%;
  box-shadow: none;
}

.origin {
  box-shadow: 0 0 3px 7px #f9d90af5;
}

.tableau:nth-child(4) {
  grid-column: 1 / 2;
}

.tableau .top:nth-child(1) {
  margin: 0;
}

.top {
  margin-top: -135%;
}

.tableau .bottom {
  margin-top: -110%;
}

.tableau .bottom:nth-child(1) {
  margin: 0;
}

.foundation-win {
  position: relative;
  margin-top: -191px;
  box-shadow: 0px 3px 3px -3px #9c9c9c;
}

.foundation-win:nth-last-child(1) {
  transition: transform 2s ease;
  transition-delay: 2s;
  transform: scale(2) translateX(-350px) translateY(650px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(2) {
  transition: transform 2s ease;
  transition-delay: 3s;
  transform: scale(2) translateX(-550px) translateY(350px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(3) {
  transition: transform 2s ease;
  transition-delay: 4s;
  transform: scale(2) translateX(-550px) translateY(150px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(4) {
  transition: transform 2s ease;
  transition-delay: 5s;
  transform: scale(2) translateX(-550px) translateY(-50px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(5) {
  transition: transform 2s ease;
  transition-delay: 6s;
  transform: scale(2) translateX(-550px) translateY(-250px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(6) {
  transition: transform 2s ease;
  transition-delay: 7s;
  transform: scale(2) translateX(-550px) translateY(-450px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(7) {
  transition: transform 2s ease;
  transition-delay: 8s;
  transform: scale(2) translateX(0px) translateY(-650px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(8) {
  transition: transform 2s ease;
  transition-delay: 9s;
  transform: scale(2) translateX(250px) translateY(-250px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(9) {
  transition: transform 2s ease;
  transition-delay: 10s;
  transform: scale(2) translateX(350px) translateY(-50px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(10) {
  transition: transform 2s ease;
  transition-delay: 11s;
  transform: scale(2) translateX(350px) translateY(250px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(11) {
  transition: transform 2s ease;
  transition-delay: 12s;
  transform: scale(2) translateX(350px) translateY(450px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(12) {
  transition: transform 2s ease;
  transition-delay: 13s;
  transform: scale(2) translateX(350px) translateY(650px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-last-child(13) {
  transition: transform 2s ease;
  transition-delay: 14s;
  transform: scale(2) translateX(350px) translateY(850px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-child(1) {
  position: relative;
  margin: 0;
}