* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  background-color: #2bc272;
  width: 100vw;
  height: 100vh;
}

.gameboard {
  display: grid;
  width: 100%;
  /* max-width: 1000px; */
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 190px;
  gap: 15px;
  padding: 35px 25px;
  overflow: hidden;
}

.talon {
  display: flex;
  grid-column: 1 / 2;
  height: 190px;
  justify-content: center;
  align-items: center;
  background: #1b6ca8;
  border: 7px solid white;
  border-radius: 10px;
}

.talon-empty {
  display: flex;
  height: 190px;
  justify-content: center;
  align-items: center;
  background: #2bc272;
  border: 2px dashed #229b5b;
  border-radius: 10px;
}

.loop {
  font-size: 100px;
  color: #229b5a;
  transform: scaleX(-1);
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 190px;
  justify-content: space-between;
  align-items: center;
  padding: 7px 3px;
  font-size: 21px;
  color: black;
  background: rgb(233, 233, 233);
  background: whitesmoke;
  border-radius: 9px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  z-index: 1;
}

.rank-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.rank-suit {
  display: flex;
  width: 25px;
  flex-direction: column;
  align-items: center;
}

.lil {
  width: 12px;
  height: auto;
}

img {
  height: 50px;
}

.rank-bottom {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.red {
  color: #CD0000;
}

.waste {
  grid-column: 2 / 3;
  height: 190px;
  border-radius: 10px;
}


.foundation {
  height: 190px;
  border-radius: 10px;
}

.foundation:nth-child(3) {
  grid-column: 4 / 5;
}

.stack {
  position: relative;
  width: 100%;
  height: 190px;
  margin-top: -165px;
  background: #1b6ca8;
  border: 7px solid white;
  border-radius: 10px;
  box-shadow: 0px -3px 3px -3px #9c9c9c;
  z-index: 1;
}

.stack:nth-child(1) {
  position: relative;
  margin: 0;
}

.tableau {
  position: relative;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px -3px 3px -3px #9c9c9c;
}

.empty {
  border: 2px dashed #229b5b;
  box-shadow: none;
}

.origin {
  box-shadow: 0 0 3px 7px #f9d90af5;
}

.tableau:nth-child(4) {
  grid-column: 1 / 2;
}

.tableau .top:nth-child(1) {
  margin: 0;
}

.top {
  margin-top: -165px;
}

.bottom {
  margin-top: -150px;
}

.bottom:nth-child(1) {
  margin: 0;
}

.foundation-win {
  position: relative;
  margin-top: -191px;
  box-shadow: 0px 3px 3px -3px #9c9c9c;
}

.foundation-win:nth-last-child(1) {
  transition: transform 2s ease;
  transform: scale(2) translateX(350px) translateY(350px) rotate(720deg);
  z-index: 2;
}

.foundation-win:nth-child(1) {
  position: relative;
  margin: 0;
}